.CalendarDay__selected_span {
  background: #f7f7f7;
  color: black;
  border: none;
  /* border: 1px solid $light-red; */
}
.CalendarDay__default {
  border: none;
  color: black;
}
.DateRangePickerInput
  DateRangePickerInput_1
  DateRangePickerInput__block
  DateRangePickerInput__block_2 {
  height: 31px;
}
.DateInput_input DateInput_input_1 {
  padding: none;
}
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: black;
  color: white;
  border-radius: 50%;
  border: none;
}

/* .CalendarDay__selected:hover {
  background: orange;
  color: white;
} */

/* .CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
} */

/* .CalendarDay__selected, .CalendarDay__selected:active, 
.CalendarDay__selected:hover */
