.banner-container {
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 0;
  .img-contanier {
    width: auto;
    height: 1224px;
    margin-top: -421px;
  }
  .content-wrap {
    position: absolute;
    top: 45%;
    margin: 1rem 6rem;

    h1 {
      width: 50%;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 0.02em;
      line-height: 1;
    }
    p {
      color: #ebe6e6;
      padding: 1rem;
      font-size: 23px;
      font-weight: bold;
      letter-spacing: -0.01em;
      line-height: 22px;
    }
  }
}
