.header-container {
  position: relative;
  z-index: 5;
  background-color: transparent;
  font-family: 'Open Sans Condensed';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 40px;
  margin: 10px auto;

  .logo-container {
    display: flex;
    width: 100%;
    cursor: pointer;
    height: 3em;
    .logo {
      cursor: pointer;
      height: 50px;
      width: 20%;
      padding-right: 0px;
    }
    .logo-text {
      font-size: 32px;
      padding: 0.2em;
    }
  }

  .middle-box {
    display: flex;
    flex-direction: column;
    .hide {
      visibility: hidden;
    }
    .button-container {
      display: flex;
      flex-direction: row;
      margin: 10px auto;
      justify-content: space-evenly;
      width: 100%;
      .middle-button {
        display: flex;
        flex-direction: row;
        text-align: center;
        cursor: pointer;
      }
    }
    .search-container {
      display: flex;
      flex-direction: row;
      background-color: white;
      border: 1px solid #ebebeb;
      border-radius: 50px;
      // padding: 10px 18px;
      // .search-container {
      //   background-color: white;
      //   border: 1px solid #ebebeb;
      //   border-radius: 5px;
      .search-box {
        background-color: white;
        padding: 10px 18px;
        border-radius: 50px;
        height: 60px;
        &:last-child {
          display: flex;
          color: violet;
          border: 2px solid green;
        }

        .subtitle {
          padding-top: 10px;
          border-right: 1px solid gray;
          &:last-child {
            border: none;
          }
        }
        .search {
          background-color: transparent;
        }
        .search-icon {
          color: white;
          font-size: 28px;
          text-align: center;
          padding-top: 10px;
          background-color: #ff385c;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          &:hover {
            background-color: #e41d56;
          }
        }
        &:hover {
          background-color: #ebebeb;
        }
      }
    }
  }

  .option-container {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    // flex-direction: row;
    margin: 10px auto;
    width: 100%;
    .hostbtn {
      width: 50%;
      height: 50%;
      cursor: pointer;
      padding: 0.5em 0;
    }
    .button-wrap {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      background-color: white;
      // padding: 0 35px;
      width: 30%;
      height: 50%;
      padding: 4px;
      border-radius: 21px;
      .button-icons {
        width: 40%;
        height: 100%;
        margin: 0 auto;
        // width: 100%;
      }
      .icons {
        width: 68%;
        height: 66%;
        padding: 4px;
      }
    }
  }
}
