.landmark-page {
  padding-top: 5rem;
  z-index: 0;
  top: 50vw;
  position: relative;
  display: flex;
  flex-direction: column;
  .subtitle {
    margin: auto 10%;
    font-size: 30px;
    padding: 0px 0px 15px 10px;
  }
  .thumb-Box {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: 50px auto;

    .thumb-Wrap {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      img {
        height: 80%;

        border-radius: 10px;
      }
      .text-box {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        .city {
          font-weight: bold;
          font-size: 18px;
          line-height: 1.5em;
        }
      }
    }
  }
}
